muleapp1/src/main/mule/muleapp1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ccd5eb7-4b07-4f1e-a0d0-2656f9fcf5d2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleapp1Flow" doc:id="22f76c63-d9b1-402f-96d5-1d77968df50c" >
		<http:listener doc:name="Listener" doc:id="aa43b6ac-235e-4cd8-a2b8-4ae4132d9302" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="54218739-15b6-45e3-bdb7-9c3f420382f8" />
	</flow>
</mule>
